<h1>
  My name is <%= %w(Onyx Cheddar Quentin).sample %>
</h1>
<!-- is the same as this ^["Onyx", "Cheddar", "Quentin", "Dr Kitty McKittenFace"].sample-->
<div>
<img style='border: 5px dashed red;'src='http://bit.ly/1eze8aE'>
</div>
